{% extends "layout.html" %}
{% block mainContainer %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <section class="section extra-margins">
          <h2 class="section-heading h1 mt-5 text-center">
            Linky Image Turk
          </h2>
          <p>This is a simple web applicaiton created for <i>Image Turk</i> to curate profile images of users in two online social networks (OSNs). Each row shows two profile images of a single user on two OSNs (e.g., Twitter and Facebook). The Turk's task is to label each row by selecting:

            <ul>
              <li>"Yes": if two user profiles is deem to belong to the same user (i.e., the Twitter and Facebook profiles belong to the same user).</li>
              <li>"No": if two user profiles is deem to belong to the different user (i.e., the Twitter and Facebook profiles belong to the different user).</li>
              <li>"I don't know": if it is unable to determine that the two user profiles belong to the same or different users.</li>
            </ul>
           </p>

           <br/>
           <div class="row">
              <div class="col-lg-9">
                <p>Current Progress ({{page}} / 2)</p>
              </div>
              <div class="col-lg-3">
                
                  <div class="dropdown">
                    <button style="float: right;" class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Go To Page
                    </button>
                    <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
                      {% for index in range(1, 3): %}
                        <a class="dropdown-item" href="{{url_for('index', page=index)}}">Page {{index}}</a>
                      {% endfor %}
                    </div>
                  </div>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: {{page / 2 * 100}}%" aria-valuenow="{{page}}" aria-valuemin="0" aria-valuemax="2"></div>
            </div>
          <br/>
        </section>
        
        <section class="section extra-margins">
          <div class="row text-center">
            <!--Grid column-->
            
              <table class="table">
                <thead>
                  <tr>
                    <th><b>Facebook</b></th>
                    <th><b>Twitter</b></th>
                    <th><b>Label</b></th>
                  <tr>
                </thead>
                <tbody>
                    {% for index, row in profiles.iterrows(): %}
                    {% if row['label'] == 'yes' or row['label'] == 'no' or row['label'] == 'unknown' %}
                      <tr id="row_{{index}}" style="background-color:#eeeeee">
                    {% else %}
                      <tr id="row_{{index}}">
                    {% endif %}

                      <td>{{ row['fbId'] }}  </br> <a href="{{ row['fbUrl'] }}" target="_blank"><img src="{{ row['fbImage'] }}" alt="{{ row['fbId'] }}" height="160" width="160"></a>  </td>
                      <td>{{ row['twUsername'] }} </br> <a href="{{ row['twUrl'] }}" target="_blank"><img src="{{ row['twImage'] }}" alt="{{ row['twId'] }}" height="160" width="160"></a></td>
                      <td>
                        <div class="btn-group" data-toggle="buttons">
                          {% if row['label'] == 'yes' %}
                            <label class="btn btn-primary btn-rounded btn-md active">
                          {% else %}
                            <label class="btn btn-primary btn-rounded btn-md">
                          {% endif %}
                              <input type="radio" name="{{ index }}" value="yes" onchange="highlightRow({{index}})"> Yes
                            </label>
                          {% if row['label'] == 'no' %}
                            <label class="btn btn-primary btn-rounded btn-md active">
                          {% else %}
                            <label class="btn btn-primary btn-rounded btn-md">
                          {% endif %}
                              <input type="radio" name="{{ index }}" value="no" onchange="highlightRow({{index}})"> No
                            </label>
                          {% if row['label'] == 'unknown' %}
                            <label class="btn btn-primary btn-rounded btn-md active">
                          {% else %}
                            <label class="btn btn-primary btn-rounded btn-md">
                          {% endif %}
                              <input type="radio" name="{{ index }}" value="unknown" onchange="highlightRow({{index}})"> I don't know
                            </label>
                            <label class="btn btn-blue-grey btn-rounded btn-md">
                              <input type="radio" name="{{ index }}" value="none" onchange="unhighlightRow({{index}})"> reset
                            </label>
                        </div>
                        <br/>
                        <br/>
                        {% if row['observation'] != 'empty' %}
                          <textarea type="text" style="height:80px; padding:10px" id="observation" name="observation_{{index}}" class="form-control" placeholder="Observation">{{row['observation']}}</textarea>
                        {% else %}
                          <textarea type="text" style="height:80px; padding:10px" id="observation" name="observation_{{index}}" class="form-control" placeholder="Observation"></textarea>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
          </div>

          <input type="hidden" name="current_page" value="{{page}}">
          
          <nav>
            <ul class="pagination pagination-lg justify-content-center">
              <li class="page-item disabled">
                <input class="page-link" name="action" type="submit" value="Previous">
              </li>
              {% if (page - 1) != 0: %}
              <li class="page-item">
                <input class="page-link" name="action" type="submit" value="{{page - 1}}">
              </li>
              {% endif %}
              <li class="page-item active">
                <input class="page-link" name="action" type="submit" value="{{page}}">
              </li>
              {% if (page - 1) != 1: %}
              <li class="page-item">
                <input class="page-link" name="action" type="submit" value="{{page + 1}}">
              </li>
              {% endif %}
              <li class="page-item">
                <input class="page-link" name="action" type="submit" value="Next">
              </li>
            </ul>
          </nav>
        </section>
      </div>
    </div>
  </div>

  

  {% if status == 'success' %} 
  <script type="text/javascript">
    alert("Successfully Saved!"); 
  </script>  
  {% endif %}
  <script>
    function highlightRow(index) {
      document.getElementById("row_" + index).style.backgroundColor = '#eeeeee';
    }

    function unhighlightRow(index) {
      document.getElementById("row_" + index).style.backgroundColor = 'white';
    }
  </script>

{% endblock %}